
body{
    
     background-color: hsl(30, 38%, 92%);
}
.card{
    display: flex;
    background-color: white;
    max-width: 45%;
    margin: auto;
}
.Rwd-pictures{
    
}
.texts{
padding-left: 20px;
}
p{
    font-size: 14px;
}
